<main class="container" role="main">
    <div class="row">
        <section class="col-md-12 well">
            <h1>퀵 정렬</h1>
            <div>
                <h3>시간복잡도</h3>
                <ul>
                    <li><p>최상 : O(n log(n))</p></li>
                    <li><p>평균 : O(n log(n))</p></li>
                    <li><p>최하 : O(n^2)</p></li>
                </ul>
            </div>
            <div>
                <h3>공간복잡도</h3>
                <p>
                    O(n log(n))
                </p>
            </div>
        </section>
        <section class="col-md-12 well">
            <div ng-hide="vm.canvasConfirm">
                캔버스를 지원하지 않습니다.
            </div>
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <div class="form-group algorithm">
                        <label class="control-label" for="roopSpeed">정렬 속도(MS)</label>
                        <input type="number" id="roopSpeed" class="form-control" ng-model="vm.roopSpeed">
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <div class="text-center">
                        <button type="button" class="btn btn-warning btn-raised" ng-click="vm.sortStart()"
                                ng-disabled="!vm.canvasConfirm">정렬 시작
                        </button>
                        <button type="button" class="btn btn-warning btn-raised" ng-click="vm.roopStop()"
                                ng-disabled="!vm.canvasConfirm">정렬 정지
                        </button>
                    </div>
                </div>
            </div>
            <div class="canvas-wrap">
                <canvas id="bubble-sort-drawing" width="300" height="100" ng-show="vm.canvasConfirm"></canvas>
            </div>

            <div>
                <p>
                    <strong>Javascript :</strong>
                </p>
                <!-- htmlmin:ignore -->
                <textarea id="editor" rows="4" cols="50" title="editorForm">
function Sort(array) {
    QuickSort(array, 0, array.length - 1);
}
function QuickSort(array,start,end) {
    var i=start;
    var k=end;
    if(end > start){
        var pivot = array[start];
        while (k>i){
            while (array[i] <= pivot && i <= end && k > i){
                i++;
            }
            while (array[k] > pivot && k >= start && k >= i){
                k++;
            }
            if(k>i){
                Swap(array, i, k);
            }
        }
        Swap(array, start, k);
        QuickSort(array, start, k - 1);
        QuickSort(array, k + 1, end);
    }
}
function Swap(arry, left, right) {
    var temp = arry[left];
    arry[left] = arry[right];
    arry[right] = temp;
}
                </textarea>
                <!-- htmlmin:ignore -->
            </div>

            <div>
                <p>
                    <strong>Java :</strong>
                </p>
                <!-- htmlmin:ignore -->
                <textarea id="editor2" rows="4" cols="50" title="editorForm">
static void Sort(int[] array) {
    QuickSort(array, 0, array.length - 1);
}
static void QuickSort(int[] array, int start, int end) {
    int i = start;
    int k = end;
    if (end > start) {
        int pivot = array[start];
        while (k > i) {
            while (array[i] <= pivot && i <= end && k > i) {
                i++;
            }
            while (array[k] > pivot && k >= start && k >= i) {
                k--;
            }
            if (k > i) {
                Swap(array, i, k);
            }
        }
        Swap(array, start, k);

        QuickSort(array, start, k - 1);
        QuickSort(array, k + 1, end);
    }
}

static void Swap(int[] array, int left, int right) {
    int temp = array[left];
    array[left] = array[right];
    array[right] = temp;
}
                </textarea>
                <!-- htmlmin:ignore -->
            </div>
        </section>
    </div>
</main>
