.main-wrap {
    max-width: 1200px;
    margin: 0 auto;
    .card-container {
        width: 100%;
        height: 100%;
        .card-innercontainer-outer {
            display: table;
            width: 100%;
            height: 100%;
            .card-innercontainer-inner {
                display: table-cell;
                vertical-align: middle;
                .class-card {
                    position: relative;
                    display: inline-block;
                    width: 46%;
                    margin: 1% 1%;
                    img {
                        width: 100%;
                        border-radius: 10%;
                    }
                    .cover {
                        position: absolute;
                        top: 0;
                        right: 0;
                        left: 0;
                        bottom: 0;
                        border-radius: 10%;
                        opacity: 0;
                        background-color: #d80546;
                    }
                    .cover:hover {
                        opacity: 0.5;
                        transition: 0.5s;
                    }
                    a{
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

.first-view-wrap {
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5)
    }
    #go-button {
        position: fixed;
        bottom: 15%;
        font-weight: bold;
        font-size: 35px;
        left: calc(50% - 150px);
        width: 300px;
        color: #fff;
        border: 2px solid #d80546;
        background-color: inherit;
        padding: 10px;
        text-align: center;
        border-radius: 50px;
    }
    #go-button:hover {
        background-color: rgba(216, 5, 46, 1);
        text-decoration: none;
    }
}

@media screen and (max-width: 768px) {
    .main-wrap .card-container .card-innercontainer-outer .card-innercontainer-inner .class-card {
        width: 100%;
        margin: 1% 0;
    }
}
