<main class="container" role="main">
    <div class="row">
        <section class="col-md-12 well">
            <h1>힙 정렬</h1>
            <div>
                <h3>시간복잡도</h3>
                <ul>
                    <li><p>최상 : O(n log(n))</p></li>
                    <li><p>평균 : O(n log(n))</p></li>
                    <li><p>최하 : O(n log(n))</p></li>
                </ul>
            </div>
            <div>
                <h3>공간복잡도</h3>
                <p>
                    O(n log(n))
                </p>
            </div>
        </section>
        <section class="col-md-12 well">
            <div ng-hide="vm.canvasConfirm">
                캔버스를 지원하지 않습니다.
            </div>
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <div class="form-group algorithm">
                        <label class="control-label" for="roopSpeed">정렬 속도(MS)</label>
                        <input type="number" id="roopSpeed" class="form-control" ng-model="vm.roopSpeed">
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <div class="text-center">
                        <button type="button" class="btn btn-warning btn-raised" ng-click="vm.sortStart()"
                                ng-disabled="!vm.canvasConfirm">정렬 시작
                        </button>
                        <button type="button" class="btn btn-warning btn-raised" ng-click="vm.roopStop()"
                                ng-disabled="!vm.canvasConfirm">정렬 정지
                        </button>
                    </div>
                </div>
            </div>
            <div class="canvas-wrap">
                <canvas id="bubble-sort-drawing" width="300" height="100" ng-show="vm.canvasConfirm"></canvas>
            </div>

            <div>
                <p>
                    <strong>Javascript :</strong>
                </p>
                <!-- htmlmin:ignore -->
                <textarea id="editor" rows="4" cols="50" title="editorForm">
function sort(array) {
    var heepArray = [];

    array.forEach(function (value) {
        upHeep(heepArray, value);
    });

    for (var i = array.length - 1; i >= 0; i--) {
        array[i] = downHeep(heepArray);
    }
}

function upHeep(heepArray, key) {
    heapSize = heapSize + 1;
    var i = heapSize;
    heepArray[i] = key;
    while (i !== 0 && heepArray[i] > heepArray[Math.floor((i - 1) / 2)]) {
        Swap(heepArray, i, Math.floor((i - 1) / 2));
        i = Math.floor((i - 1) / 2);
    }
}

function downHeep(heepArray) {
    var largest;
    var item = heepArray[0];
    heepArray[0] = heepArray[heapSize];
    heapSize = heapSize - 1;
    var i = 0;
    while ((i * 2 + 1) <= heapSize) {
        if ((i * 2 + 2) > heapSize || heepArray[i * 2 + 1] > heepArray[i * 2 + 2]) {
            largest = i * 2 + 1;
        } else {
            largest = i * 2 + 2;
        }
        if (heepArray[i] > heepArray[largest]) {
            break;
        }
        Swap(heepArray, i, largest);
        i = largest;
    }
    return item;
}


function Swap(array, left, right) {
    var tmp = array[left];
    array[left] = array[right];
    array[right] = tmp;
}
                </textarea>
                <!-- htmlmin:ignore -->
            </div>

            <div>
                <p>
                    <strong>Java :</strong>
                </p>
                <!-- htmlmin:ignore -->
                <textarea id="editor2" rows="4" cols="50" title="editorForm">
static int heapSize = -1;

static void Sort(int[] array) {
    int[] heepArray = new int[array.length];

    for (int key : array) {
        upHeep(heepArray, key);
    }

    for (int i = array.length - 1; i >= 0; i--) {
        array[i] = downHeep(heepArray);
    }
}

static void upHeep(int[] heepArray, int key) {
    heapSize = heapSize + 1;
    int i = heapSize;
    heepArray[i] = key;

    while (i != 0 && heepArray[i] > heepArray[(i - 1) / 2]) {
        Swap(heepArray, i, (i - 1) / 2);
        i = (i - 1) / 2;
    }
}

static int downHeep(int[] heepArray) {
    int largest;
    int item = heepArray[0];
    heepArray[0] = heepArray[heapSize];
    heapSize = heapSize - 1;
    int i = 0;
    while ((i * 2 + 1) <= heapSize) {
        if ((i * 2 + 2) > heapSize || heepArray[i * 2 + 1] > heepArray[i * 2 + 2]) {
            largest = i * 2 + 1;
        } else {
            largest = i * 2 + 2;
        }
        if (heepArray[i] > heepArray[largest]) {
            break;
        }
        Swap(heepArray, i, largest);
        i = largest;
    }
    return item;
}

static void Swap(int[] heepArray, int left, int right) {
    int temp;
    temp = heepArray[left];
    heepArray[left] = heepArray[right];
    heepArray[right] = temp;
}
                </textarea>
                <!-- htmlmin:ignore -->
            </div>
        </section>
    </div>
</main>
