@font-face {
    font-family: 'bmjua';
    src: url('../fonts/BMJUA_ttf.eot'); /* IE9 Compat Modes */
    src: url('../fonts/BMJUA_ttf.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/BMJUA_ttf.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/BMJUA.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/BMJUA_ttf.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/BMJUA.svg#svgFontName') format('svg'); /* Legacy iOS */
}

* {
    background-color: #fff;
    font-family: 'bmjua', Arial, sans-serif;
    line-height: 1.6;
    word-spacing: 2px;
    font-size: 16px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

h1, h2, h3 {
    font-weight: 300;
    color: #e47911;
}

a:hover {
    color: #e47911;
    outline: 0;
    cursor: pointer;
}

a, a:focus, a:hover, a:active {
    color: inherit;
    text-decoration: none;
}

ul, ol {
    padding: 0;
    margin: 0;
    li {
        list-style: none;
    }
}

img {
    width: 100%;
}

.btn, .input-group-btn .btn {
    padding: 8px 30px 4px;
}
