<div class="container">
    <div class="row">
        <section class="col-md-12 well">
            <h1>선택 정렬</h1>
            <div>
                <h3>시간복잡도</h3>
                <ul>
                    <li><p>최상 : O(n^2)</p></li>
                    <li><p>평균 : O(n^2)</p></li>
                    <li><p>최하 : O(n^2)</p></li>
                </ul>
            </div>
            <div>
                <h3>공간복잡도</h3>
                <p>
                    O(1)
                </p>
            </div>
        </section>
        <section class="col-md-12 well">
            <div ng-hide="vm.canvasConfirm">
                캔버스를 지원하지 않습니다.
            </div>
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <div class="form-group algorithm">
                        <label class="control-label" for="roopSpeed">루프 속도(MS)</label>
                        <input type="number" id="roopSpeed" class="form-control" ng-model="vm.roopSpeed">
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <div class="text-center">
                        <button type="button" class="btn btn-warning btn-raised" ng-click="vm.sortStart()"
                                ng-disabled="!vm.canvasConfirm">정렬 시작
                        </button>
                        <button type="button" class="btn btn-warning btn-raised" ng-click="vm.roopStop()"
                                ng-disabled="!vm.canvasConfirm">정렬 정지
                        </button>
                    </div>
                </div>
            </div>
            <div class="canvas-wrap">
                <canvas id="bubble-sort-drawing" width="300" height="100" ng-show="vm.canvasConfirm"></canvas>
            </div>

            <div>
                <p>
                    <strong>Javascript :</strong>
                </p>
                <ui-codemirror ui-codemirror-opts="vm.editorJavascriptSource"></ui-codemirror>
            </div>

            <div>
                <p>
                    <strong>Java :</strong>
                </p>
                <ui-codemirror ui-codemirror-opts="vm.editorJavaSource"></ui-codemirror>
            </div>
        </section>
    </div>
</div>
